@use 'app/styles/variables.module.scss' as var;

.container {
    display: flex;
    align-items: center;
    gap: 5px;
}

.link {
    color: var.$blue;
    width: fit-content;
    word-break: break-all;

    &:hover {
        text-decoration: underline;
        color: var.$blue;
    }
}
