@use 'app/styles/variables.module.scss' as var;

.homeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1em;
  width: 100%;
  height: 100vh;
}

.resumeCont {
  display: grid;
  max-width: 1200px;
  gap: 2em;

  @media (min-width: 800px) {
    grid-template-columns: 1fr .3fr;
    margin: 1em;
  }
}

.cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block-start: 4em;
  padding-inline: 1em;
}

.thanks {
  margin: auto;
  margin-block: 3em;
}