$black: #242424;
$grey: #484844;
$white: #e5e5e5;
$bone: #e4d9c7;
$mid-yellow: #e6bd6b;
$dark-yellow: #d6ad5c;
$orange: #cc6633;
$blue: #2b3347;

:export {
    black: $black;
    grey: $grey;
    white: $white;
    bone: $bone;
    midYellow: $mid-yellow;
    darkYellow: $dark-yellow;
    orange: $dark-yellow;
    blue: $blue;
}
