@use '/styles/variables.module.scss' as var;

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  height: 100px;

  @media (min-width: 800px) {
    width: 100%;
    flex-shrink: 0;
    text-align: end;
  }
}

.default {
  background-color: var.$mid-yellow;
}

.selected {
  background-color: var.$bone;
}