@use '/styles/variables.module.scss' as var;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  height: auto;
  border: 1px solid var.$grey;

  @media (min-width: 1800px) {
    align-self: start;
  }
}

.textCont {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.titleCont {
  display: flex;

  &.web {
    justify-content: space-between;
    align-items: center;

    .imgCont {
      width: 60px;
      height: 60px;
    }
  }

  &.design,
  &.art {
    flex-direction: column;
    align-items: center;

    .imgCont {
      height: auto;
    }
  }

  &.music {
    flex-direction: column;
  }
}

.title {
  font-size: clamp(1.5rem, 0.5714rem + 1.9048vw, 2rem);
  font-weight: 500;
  text-align: start;
  line-height: 0.9;
  margin: 0;
  padding-block-end: .5em;
  color: var.$black;
  align-self: flex-start;
}

.badges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-size: clamp(0.8rem, -0.4286rem + 1.9048vw, 1rem);
}

.links {
  display: inline-grid;
  grid-template-columns: max-content auto;
  grid-gap: 20px;
  font-size: clamp(0.8rem, -0.4286rem + 1.9048vw, 1rem);
  margin-block-end: 2em;

  @media (min-width: 500px) {
    margin-block-end: .6em;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

.audio {
  display: none;
}

.music .audio {
  display: block;
  align-self: center;
  width: 600px;
  height: 100px;
  z-index: 3;
}

.design .image {
  width: 100%;
  height: auto;
}

.art .image {
  width: 600px;
  height: auto;
}

.image {
  border: 1px solid var.$mid-yellow;
  padding: 0.2em;
  align-self: center;
  width: 100%;
  height: 100%;
}

.descCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.desc {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: .5em;
  line-height: 1.1;
  padding-inline: .5em;
  font-size: .9rem;
  margin-block: 1em 1.5em;


  & li {
    width: fit-content;

    &::before {
      content: '';
      margin-inline-end: .3em;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-image: url('../../public/images/small-sun-png.png');
      background-size: cover;
      transform: rotate(-100deg);
    }
  }
}

.openBtn {
  background-color: inherit;
  border: 1px solid var.$grey;
  border-bottom: none;
  height: 30px;
  cursor: pointer;
  z-index: 1;
  font-size: .8em;
  font-family: inherit;
  align-self: flex-end;
  padding-bottom: .2em;
  line-height: .6;
  position: absolute;
  top: -29px;

  transition: box-shadow 300ms ease;

  &:hover {
    background-color: var.$mid-yellow;
  }

  &[data-state='open']>.chevron {
    transform: translateY(-5px) rotate(180deg);
  }

  &[data-state='open'] {
    background-color: var.$bone;
    z-index: 5;

    &:hover {
      background-color: var.$mid-yellow;

    }
  }

  & span {
    margin-bottom: -8px;
    display: block;
  }
}

@keyframes slideDown {
  from {
    border: none;
    height: 0;
  }

  to {
    border: 1px solid var.$grey;
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    border: 1px solid var.$grey;
    height: var(--radix-accordion-content-height);
  }

  to {
    border: none;
    height: 0;
  }
}

.chevron {
  color: var.$grey;
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  transform-origin: center;
  display: block;
  width: 40px;
  height: 40px;
  transform: translateY(-5px);
}

.content {
  overflow: hidden;
  width: 100%;
  font-size: 1rem;
  color: var.$grey;
  border: 1px solid var.$grey;
  background-color: var.$bone;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.134);
  word-break: normal;
  z-index: 3;
  // no margin or padding here or else animation will 'glitch'

  &[data-state='open'] {
    animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state='closed'] {
    animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }
}