@use '/styles/variables.module.scss' as var;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid var.$grey;
  // background-color: var.$bone;
}

.textCont {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.titleCont {
  display: flex;

  &.web {
    justify-content: space-between;
    align-items: center;
  }

  &.other,
  &.art {
    flex-direction: column;
  }

}

.title {
  font-size: clamp(1.5rem, 0.5714rem + 1.9048vw, 2rem);
  font-weight: 500;
  text-align: start;
  margin: 0;
}

.badges {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  font-size: clamp(0.8rem, -0.4286rem + 1.9048vw, 1rem);
}

.links {
  display: inline-grid;
  grid-template-columns: max-content auto;
  grid-gap: 20px;
  font-size: clamp(0.8rem, -0.4286rem + 1.9048vw, 1rem);

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
}

.other .image {
  width: 100%;
  height: auto;
}

.art .image {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.image {
  border: 1px solid var.$mid-yellow;
  padding: 0.2em;
  align-self: center;
}