html,
body {
    padding: 0;
    margin: 0;
    line-height: 1.5;
    font-size: 1.2rem;
    scroll-behavior: smooth;
    /* height: 100vh;
    overflow: hidden; */
    background-color: #e4d9c7;
    background-image: url('https://res.cloudinary.com/greypse/image/upload/v1691028179/grain_anhr1j.png');
}

p {
    font-size: clamp(1rem, -0.875rem + 2.5vw, 1.5rem);
    max-width: 70ch;
}

* {
    box-sizing: border-box;
}

a {
    padding: 0.1em 0.2em;
    color: inherit;
    text-decoration: none;
    transition:
        background-color 150ms ease,
        color 150ms ease;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h3 {
    text-align: center;
    font-size: 1.8rem;
}

h4 {
    font-size: 1.5rem;
}
