@use '/styles/variables.module.scss' as var;

.button {
    display: block;
    background-color: inherit;
    font: inherit;
    border: none;
    box-shadow: 0px 0px 0px 2px var.$black;
    width: fit-content;
    padding: .8em 1.6em;
    margin-block: 2em;
    transition: box-shadow 200ms ease-in-out, background-color 100ms ease-in;
    cursor: pointer;

    @media (prefers-reduced-motion) {
        transition: none;
    }

    &:hover {
        background-color: var.$dark-yellow;
    }

    &:focus {
        outline: none;
        box-shadow: 0px 0px 0px 4px var.$black;
    }

    &:active {
        background-color: var.$orange;
    }
}