@use '/styles/variables.module.scss' as var;

.container {
    width: 100%;
    max-width: 40ch;
    margin-block-start: 3em;
}

.textArea {
    font-family: inherit;
    resize: vertical;
}

.form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.3em;
    line-height: 1.5;
    position: relative;

    input,
    textarea {
        font-size: 1rem;
        line-height: 1.5;
        background-color: var.$white;
        border: none;
        box-shadow: 0px 0px 0px 2px var.$black;
        transition: box-shadow 200ms ease-in-out;
        padding: 0.5em;

        &:focus {
            outline: none;
            box-shadow: 0px 0px 0px 3px var.$mid-yellow;
        }
    }

    label:not(:first-child) {
        margin-block-start: 10px;
    }

    button {
        margin-block-start: 1em;
    }
}
