@use '../styles/variables.module.scss' as var;

.button {
  border: none;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background-color: transparent;
  height: 100px;

  @media (min-width: 800px) {
    width: 100%;
    flex-shrink: 0;
    text-align: end;
  }
}