@use '../styles/variables.module.scss' as var;

.container {
  width: 300px;
  clip-path: circle(19% at 17.8% 17.5%);
  animation: pulse 1s alternate infinite;
  background-color: var.$grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: clip-path 1s;
  position: fixed;
  color: var.$bone;
  cursor: pointer;
  z-index: 2;

  &:hover,
  &:focus-within {
    clip-path: circle(70% at 0% 20%);
    animation: none;
  }

  @media (max-width: 800px) {
    width: 100%;
    justify-items: start;
    clip-path: none;
    align-items: center;

    &:hover,
    &:focus-within {
      clip-path: none;
      animation: none;
    }

  }


}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-block-end: 2em;
  color: inherit;
  transition: color 500ms;

  @media (max-width: 800px) {
    width: 100%;
    flex-direction: row;
    padding-block: .5em;
    justify-content: center;
    margin: 0;
  }
}

.image {
  width: min-content;
  background-color: inherit;
  transition: background-color 500ms;
  padding-inline-start: .2em;

  @media (max-width: 800px) {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

.nav li {
  list-style: none;
}

.bkgd {
  background-color: inherit;
}