@use '/styles/variables.module.scss' as var;

.container {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: auto;
}

.textCont {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: space-between;
  width: 230px;
  gap: .5em;

}

.text {
  text-align: start;
  padding-inline-start: .3em;
  width: 100%;
  margin: 0;
  border: .12em dotted var.$grey;
  box-shadow: -1px 1px 0 var.$blue;
  font-size: 1rem;
}