@use '/styles/variables.module.scss' as var;

.marquee {
  display: flex;
  gap: 5rem;
  border-top: 2px solid var.$blue;
  border-bottom: 2px solid var.$blue;
  width: 100%;
  margin: 0;
  padding: .5em;
  overflow-x: hidden;
  background-color: var.$grey;
  color: var.$bone;
}

.group1,
.group2 {
  display: flex;
  gap: 10rem;
  padding-left: 100%;
  animation: move infinite 20s linear;

  span {
    width: max-content;
    font-size: 1.5em;
  }

  @media (prefers-reduced-motion) {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    transform: translateX(-50%);
  }
}

@keyframes move {
  100% {
    transform: translateX(-100%);
  }
}

.cont {
  display: grid;
  place-items: center;
  padding-inline: .5em;
}

.resumeCont {
  display: grid;
  max-width: 1200px;

  @media (min-width: 800px) {
    grid-template-columns: 1fr .3fr;

  }
}